/* Globals */

.App {
  font-family: "Open Sans";
}

button {
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  height: 30px;
  background-color: rgb(43, 48, 53);
}

button:hover {
  border: 1px solid rgb(168, 171, 173);
}

em {
  font-style: italic;
}

em:hover {
  font-weight: 600;
}

a {
  text-decoration: none;
}

.title {
  width: 100vw;
  height: 8vh;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .title {
    height: 6vh;
    font-size: 12px;
  }
  .desktop {
    display: none;
  }
}
