main {
    padding-top: 10vh;
    background-color: rgb(43,48,53);
    width: 100vw;
    min-height: 100vh;
    max-height: 200vh;
}

.Main .arrow {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Main .arrow img {
    width: 80px;
    filter: invert(0.75);
}

@media screen and (max-width: 700px) {
    main {
        /* full size is 85vh */
        /* min-height: 85vh; */
    }
    .Main .arrow img {
        width: 60px;
    }
}
