.Marker {
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.Marker .circle-container {
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.Marker .circle-marker button {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.Marker .one {
    background-color: rgb(227, 49, 51);
}
.Marker .two {
    background-color: rgb(240, 116, 58);
}
.Marker .three {
    background-color: rgb(255, 190, 58);
}
.Marker .four {
    background-color: rgb(151, 187, 61);
}
.Marker .five {
    background-color: rgb(67, 184, 63);
}

.Marker .arrow {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Marker .arrow img {
    width: 80px;
    filter: invert(0.75);
}

@media screen and (max-width: 700px) {
    .Marker .circle-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .Marker .circle-marker button {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .Marker .arrow img {
        width: 60px;
    }
}
