main {
  padding-top: 10vh;
  background-color: rgb(43, 48, 53);
  width: 100vw;
  min-height: 100vh;
  max-height: 200vh;
}

@media screen and (max-width: 700px) {
  main {
    padding-top: 8vh;
  }
}
