header {
    width: 100vw;
    height: 10vh;
    background-color: rgb(52, 55, 66);
    color: rgb(228, 228, 244);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header button {
    text-decoration: none;
}

header .title-container {
    width: 40vw;
}

header .title {
    color: rgb(228, 228, 244);
    font-size: 40px;
    font-weight: 800;
    text-shadow: 2px 2px rgb(141, 153, 174);
}

header .title-button {
    background-color: transparent;
    border: none;
}

header #default {
    color: rgb(228, 228, 244);
}

header #one {
    color: rgb(227, 49, 51);
}
header #two {
    color: rgb(240, 116, 58);
}
header #three {
    color: rgb(255, 190, 58);
}
header #four {
    color: rgb(151, 187, 61);
}
header #five {
    color: rgb(67, 184, 63);
}

header > .user-portal button {
    border: 0;
    color: rgb(228, 228, 244);
    background-color: rgb(141, 153, 174);
    font-weight: 600;
    border-radius: 5px;
    height: 30px;
    margin: 0 5px;
}

/* header > .user-portal button:hover {
    background-color: rgb(239, 35, 60);
} */

.not-logged-in,
.logged-in {
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 700px) {
    header .title {
        font-size: 20px;
        text-align: left;
        text-shadow: 1px 1px rgb(141, 153, 174);
    }
    header > .user-portal button {
        margin: 0 2px;
    }
    .not-logged-in,
    .logged-in {
        width: 45vw;
        justify-content: flex-end;
    }
}
