.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Login form {
  background-color: rgb(250, 251, 252);
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Login form .input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Login form label {
  display: flex;
  width: 30vw;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.Login form .form-button-container {
  width: 20vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Login button {
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  height: 30px;
  background-color: rgb(43, 48, 53);
}

.Login button:hover {
  font-style: italic;
}

.Login h2 {
  margin: 10px 0;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .Login form {
    justify-content: flex-start;
  }
  .Login form label {
    width: 80vw;
  }
  .Login form .form-button-container {
    width: 60vw;
  }
}
