.App {
  font-family: 'Open Sans', ;
}

button {
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(255,255,255);
    height: 30px;
    background-color: rgb(43,48,53);
}

input {
    border: 1px solid rgb(43,48,53);
    border-radius: 5px;
    height: 25px;
    font-style: italic;
}